@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.woff?wk42s4") format("woff"), url("../img/icons.svg?wk42s4#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\e906";
}

.icon-money:before {
  content: "\e904";
}

.icon-kills:before {
  content: "\e901";
}

.icon-damage:before {
  content: "\e903";
}

.icon-click:before {
  content: "\e905";
}

.icon-reload:before {
  content: "\e900";
}

.icon-chart:before {
  content: "\1f4b9";
}

.icon-shop:before {
  content: "\e902";
}