body{
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #222;
}
.burger-menu{
}
.burger-menu__button{
  position: fixed;
  top: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, .3);
}
.burger-menu__button span{
  width: 30px;
  height: 2px;
  posiition: absolute;
  left: 10px;
  background: #fff;
}
