.wrapper {
  width: 100%;
  min-height: 100vh;
  background: -o-linear-gradient(315deg, #2b303b 0%, #333b4d 100%);
  background: linear-gradient(135deg, #2b303b 0%, #333b4d 100%);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger-menu__button {
  z-index: 10;
  width: 50px;
  height: 50px;
  background: rgba(50, 70, 113, 0.5);
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.burger-menu__button span,
.burger-menu__button:before,
.burger-menu__button:after {
  content: '';
  width: 30px;
  height: 2px;
  left: 10px;
  background: #fff;
  position: absolute;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.burger-menu__button:after {
  bottom: 15px;
}

.burger-menu__button:before {
  top: 15px;
}

.burger-menu__button span {
  top: 24px;
}

.burger-menu__button.active {
  background: #3CB499;
}

.burger-menu__button.active:before {
  top: 24px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-menu__button.active:after {
  bottom: 24px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger-menu__button.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.burger-menu__button.arrow span {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.burger-menu__button.arrow:after {
  width: 15px;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}

.burger-menu__button.arrow:before {
  width: 15px;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}

.menu {
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-30%, 0);
      -ms-transform: translate(-30%, 0);
          transform: translate(-30%, 0);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  padding: 90px 20px 20px 20px;
  max-width: 600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.menu__list {
  padding: 10px;
  width: 100%;
  background: rgba(40, 46, 51, 0.7);
}

.icon:before {
  font-size: 14px;
  margin: 0 5px 0 0;
}

.tab {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  width: 100%;
  background: #3CB499;
  margin: 0 0 10px 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  padding: 10px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.tab.icon:before {
  font-size: 14px;
  margin: 0 5px 0 0;
}

.tab__cost {
  font-weight: bold;
  background: #FF3332;
  padding: 5px;
  margin: -5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
}

.tab:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.tab:last-child {
  margin: 0 0 0 0;
}

#total_damage.million:after {
  content: 'M';
}

#total_damage.billion:after {
  content: 'B';
}

#total_damage.trillion:after {
  content: 'T';
}

.alt-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.screen-stats {
  position: fixed;
  top: 20px;
  right: 20px;
  color: #fff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
}

.screen-stats__stat {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.screen-stats__stat.icon:before {
  margin: 0 10px 0 0;
}

.screen-stats p {
  margin: 0 5px 0 0;
}

.content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.health {
  max-width: 600px;
  width: 100%;
}

.health__bar {
  height: 25px;
  background: #222;
  position: relative;
}

.health__current {
  height: 100%;
  background: #ff3332;
}

.health__counter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.enemy {
  margin: 20px 0 0 0;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
  max-width: 350px;
  width: 100%;
}

.enemy.defeat {
  -webkit-animation: defeat 1s ease forwards;
          animation: defeat 1s ease forwards;
  pointer-events: none;
}

.enemy.active {
  display: block;
}

.enemy img {
  width: 100%;
  pointer-events: none;
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
}

.enemy:active img {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.null-confirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.null-confirm.active {
  opacity: 1;
  visibility: visible;
}

.null-confirm__area {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(21, 25, 35, 0.5);
  cursor: pointer;
}

.null-confirm__sure {
  width: 200px;
  padding: 20px;
  background: rgba(50, 70, 113, 0.8);
  position: relative;
  z-index: 5;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.null-confirm__sure.hide {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.null-confirm__task {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  letter-spacing: 3px;
  margin: 0 0 10px 0;
}

.null-confirm__yes {
  width: 100%;
  text-align: center;
  padding: 10px;
  background: #ff3332;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  display: block;
  letter-spacing: 2px;
  cursor: pointer;
  margin: 0 0 10px 0;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.null-confirm__no {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  width: 100%;
  background: #1f242f;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.null-confirm__video {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  height: 400px;
  position: static;
}

.null-confirm__video.hide {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.statistic__name {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
}

.statistic__name.icon:before {
  font-size: 13px;
  margin: 0 5px 0 0;
}

.minus-hp {
  position: absolute;
  -webkit-animation: minus-hp 0.6s ease forwards;
          animation: minus-hp 0.6s ease forwards;
  font-size: 20px;
  color: #ff3332;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

@-webkit-keyframes minus-hp {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }

  to {
    -webkit-transform: translate(0, -50px);
            transform: translate(0, -50px);
    opacity: 0;
  }
}

@keyframes minus-hp {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }

  to {
    -webkit-transform: translate(0, -50px);
            transform: translate(0, -50px);
    opacity: 0;
  }
}

@-webkit-keyframes defeat {
  from {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0);
            transform: rotate(720deg) scale(0);
  }
}

@keyframes defeat {
  from {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0);
            transform: rotate(720deg) scale(0);
  }
}

@media (min-width: 992px) {
  .burger-menu__button:hover {
    background: #324671;
  }

  .burger-menu__button.active:hover {
    background: rgba(60, 180, 153, 0.7);
  }

  .tab:hover {
    background: rgba(60, 180, 153, 0.7);
  }

  .null-confirm__yes:hover {
    background: rgba(255, 51, 50, 0.7);
  }

  .null-confirm__no:hover {
    background: #222;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 10px;
  }

  .burger-menu__button {
    top: 10px;
    left: 10px;
  }

  .menu {
    padding: 70px 10px 10px 10px;
  }

  .tab {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .tab__cost {
    font-size: 14px;
  }

  .tab__cost:before {
    font-size: 12px;
  }

  .screen-stats {
    top: 10px;
    right: 10px;
  }

  .screen-stats {
    font-size: 14px;
  }
}