body{
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #222;
}
.burger-menu{
}
.burger-menu__button{
  position: fixed;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, .3);
}
.burger-menu__button div{
  width: 30px;
  height: 2px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
  background: #fff;
  transition: all 0.3s ease;
}
.burger-menu__button:after,
.burger-menu__button:before{
  content: '';
  width: 30px;
  height: 2px;
  position: absolute;
  left: 10px;
  transition: all 0.3s ease;
  background: #fff;
}
.burger-menu__button:after{
  top: 18px;
}
.burger-menu__button:before{
  bottom: 18px;
}
.burger-menu__button.active div{
  transform: scale(0);
}
.burger-menu__button.active:before{
  bottom: 24px;
  transform: rotate(45deg);
}
.burger-menu__button.active:after{
  top: 24px;
  transform: rotate(-45deg);
}
.health__bar{
  width: 300px;
  height: 30px;
  background: #111;
}
.health__current{
  width: 100%;
  height: 100%;
  background: red;
}
.health__count{
  font-size: 18px;
  color: #fff;
  padding: 5px;
}
.health{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button{
  margin-top: 20px;
  width: 300px;
  height: 300px;
  padding: 20px;
  border-radius: 50%;
  background: #f1f1f1;
}
.button span{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: red;
}
.button span:active{
  transform: scale(0.85);
}
