body{
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #222;
}
.burger-menu{
}
.burger-menu__button{
  position: fixed;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, .3);
}
.burger-menu__button span{
  width: 30px;
  height: 2px;
  posiition: relative;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
  background: #000;
}
.burger-menu__button:after,
.burger-menu__button:before{
  content: '';
  width: 30px;
  height: 2px;
  position: absolute;
  left: 10px;
  background: #fff;
}
.burger-menu__button:after{
  top: 18px;
}
.burger-menu__button:before{
  bottom: 18px;
}
